
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff7f9;
  color: #333;
}
h1, h2, h3 {
  text-align: center;
  color:  #882135;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #882135;
  padding: 15px 30px;
  color: white;
}
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 5px;
}
.nav-links a:hover,
.nav-links .active {
  background: #ff66a3;
}
.hero {
   background-image:  url('salon.jpg'); 
  background-position: center;  
  background-size: cover;       
  background-repeat: no-repeat;
  color: white;
  padding: 100px 20px;
  text-align: center;
  font-size: 20px;
  height: 160px; 
}
.services {
  padding: 40px 20px;
  font-size: 20px;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.service-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}
.service-card .price {
  display: none;
  font-weight: bold;
  margin-top: 10px;
  color: #ff66a3;
  font-size: 18px;
}
.service-card:hover .price {
  display: block; 
}
.about-section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
  font-size: 20px;
}
.contact-section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.contact-form button {
  background: #882135 ;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.contact-form button:hover {
  background: #ff66a3;
}
footer {
  text-align: center;
  padding: 20px;
  background: #882135;
  color: white;
  margin-top: 40px;
}
